version: "3.9"

services:

  etl:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: etl_service
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - S3_BUCKET=${S3_BUCKET}
    command: ["python", "etl/ingest_data.py"]
    volumes:
      - ..:/app

  training:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: training_service
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - S3_BUCKET=${S3_BUCKET}
    command: ["python", "training/train.py"]
    volumes:
      - ..:/app

  webcron:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: web_cron
    ports:
      - "8000:8000"
    volumes:
      - ..:/app
    command: ["python", "webcron/app.py"]
